:root {
	--BoxColor: #323232;
}

/*! GAMEROW - FATHER ELEMENT */

.gameContainer {
	display: flex;
	/* align-items: center; */
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	flex: 1;
}

.gameRow-Box {
	padding: 10px;
	background-color: var(--BoxColor);
	border-radius: 15px;
	max-height: fit-content;
	max-width: 20vw;
}
/*! HEADER */

.headerRow {
	position: relative;
}

.headerRow-Platform {
	display: flex;
	align-items: center;
	& img {
		max-height: 50px;
		max-width: min-content;
		object-fit: contain;
		aspect-ratio: 16 / 9;
	}
}

.headerRow-Themes {
	min-height: 5vh;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

.headerRow-ThemeName {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
	border: #1a1a1a90 solid 3px;
	border-radius: 10px;
	padding: 3px;
	transition: all 0.2s ease-in-out;

	&:hover {
		z-index: 3;
		display: inline-block;
		min-width: fit-content;
		transform: scale(1.2);
	}
}

.headerRow-Title {
	display: flex;
	position: relative;
	justify-content: center;
}

.headerRow-ToolTip {
	background-color: #202020;
	width: fit-content;
	height: fit-content;
	padding: 7px;
	border-radius: 15px;
	border: #424242 solid 2px;
	visibility: hidden;
	position: absolute;
	font-size: 0.8em;
	font-weight: 500;
	top: -50px;
	z-index: 1;
	/* inset: 0px 0px 0px 0px; */
}

.headerRow-ToolTip::after {
	content: '';
	position: absolute;
	right: calc(50% - 10px); /* -10px cuz margin of .headerRow-Name */
	top: 100%;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent #202020 transparent;
	transform: rotate(180deg);
}

.headerRow-Name {
	margin: 5px 5px 0px;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 1.3em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.headerRow-Name:hover ~ .headerRow-ToolTip,
.headerRow-ToolTip:hover {
	visibility: visible;
}

.headerRow-Rating {
	position: relative;
	margin: 10px 0px;
	& aside {
		width: fit-content;
		font-size: calc(8px + 0.8vw);
		font-weight: 500;
		background-color: #20202080;
		border-radius: 0px 5px 0px 0px;
		z-index: 2;
		display: flex;
		left: 100%;
		transform: translate(-100%);
		align-items: center;
		position: absolute;
		& svg {
			width: 2.5vw;
			min-width: calc(12px + 1.2vw);
		}
	}
}

/*! MAIN */

.mainRow-Cover {
	position: relative;
	text-align: center;
	aspect-ratio: 3 / 4;
	min-block-size: fit-content;
}

.mainRow-MainCover {
	aspect-ratio: 3 / 4;
	max-height: 100%;
	width: auto;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}

.mainRow-AgeRating {
	position: absolute;
	top: 75%;
	height: 25%;
	filter: opacity(80%);
	z-index: 1;
}
/*! FOOTER */
